<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/img/i.ico">
    <link rel="bookmark" href="../static/img/i.ico">
    <title>The One Child</title>
    <link rel="stylesheet" href="../static/css/sign_up.css">
</head>
<body>
    <div id="home">
        <div class="one">
            <div class="two">
                <div class="con">
                    <div class="con-title">
                        <div class="title-one"><span>Child</span></div>
                        <div class="title-two"><span>注册Child，发现更多可信赖的解答</span></div>
                    </div>

                    <div class="con-form">
                       <form action=" {% url 'sign_up' %}" method="post">
                           {% csrf_token %}
                           <div><input type="text"  required pattern="^[0-9a-zA-Z]{2,15}$" onblur="rBlur(event)" onfocus="rFocus(event)" name="username" placeholder="账号"></div>
                           <div><input type="password" required pattern="^[0-9a-zA-Z@_.]{6,18}$" onblur="rBlur(event)" onfocus="rFocus(event)" name="password" placeholder="密码"></div>
                           <div><input type="password" required pattern="^[0-9a-zA-Z@_.]{6,18}$" onblur="rBlur(event)" onfocus="rFocus(event)" name="pwd" placeholder="密码"></div>
                            <button type="submit" onmouseover="this.style.backgroundColor='#1874CD'"  onmouseout="this.style.backgroundColor='#0084ff'">注册</button>
                            <br>
                            <span class="con-text">
                                注册即代表同意
                                <a href="#">《Child协议》</a>
                                <a href="#">《隐私保护指引》</a>
                            </span>
                           {% if messages %}
                               <script>
                                   {% for x in messages %}
                                        alert('{{ x }}');
                                   {% endfor %}
                               </script>
                           {% endif %}
                        </form>
                        <div class="con-reg">
                            <span>已有账号？</span><span onclick="rClick(event)">登录</span>
                        </div>
                    </div>
                    
                </div>
            <button class="one-child">一个小孩&nbsp;&nbsp;Y</button>
            </div>
            <div class="three">
                <div>
                    <a href="#">Child专栏</a>
                    <span>·</span>
                    <a href="#">圆桌</a>
                    <span>·</span>
                    <a href="#">发现</a>
                    <span>·</span>
                    <a href="#">移动应用</a>
                    <span>·</span>
                    <a href="#">联系我们</a>
                    <span>·</span>
                    <a href="#">来Child工作</a>
                </div>
                <div>
                    <span>© 2019&nbsp;Child·</span>
                    <a href="#">豫ICP证 125153号</a>
                    <span>·</span>
                    <span>豫公网安备 11010802125153号</span>
                    <a href="#">出版物经营许可证</a>
                </div>
                <div>
                    <a href="#">侵权举报</a>
                    <span>·</span>
                    <a href="#">网上有害信息举报专区</a>
                    <span>·</span>
                    <a href="#">儿童色情举报专区</a>
                    <span>·</span>
                    <a href="#">违法和不良信息举报：010-82716601</a>
                </div>
            </div>
        </div>
       
    </div>
</body>

<script src="../static/js/sign.js"></script>
</html>